@import "globals";
@import "footer";

.bg {
  height: 100vh;
  background-image: url("../images/bg-intro-desktop.png");
  background-color: hsl(0, 100%, 74%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftSide {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 492px;
  margin: 37px;
  color: white;
  &__h1pContainer {
    h1 {
      font-size: 49px;
      line-height: 1.12;
      margin-bottom: 28px;
    }
    p {
      color: rgb(240, 233, 233);
      line-height: 1.62;
      margin-bottom: 0;
    }
  }
}

@import "rightSide";
@import "mediaQs";
