.rightSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 540px;
  margin: 37px;
  &__tryIt {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    border-radius: 10px;
    margin-bottom: 25px;
    background-color: hsl(248, 32%, 49%);
    color: white;
    box-shadow: 0px 8px #dc6567;
    p {
      margin-bottom: 0;
      padding-top: 3px;
      font-size: 15px;
      font-weight: 300;
      letter-spacing: 0.02em;
      span {
        font-weight: 600;
      }
    }
  }
  &__form {
    // height: 474px;
    width: 100%;
    border-radius: 10px;
    padding: 40px;
    background-color: white;
    box-shadow: 0px 8px #dc6567;
    input {
      position: relative;
      width: 100%;
      height: 55px;
      padding-left: 30px;
      padding-right: 60px;
      outline: solid 1px rgb(212, 211, 211);
      border-radius: 5px;
      color: hsl(249, 9%, 47%);
      font-size: 14px;
      font-weight: 600;

      &:focus {
        outline: solid 1px black;
        color: black;
      }
    }
    .errorInput {
      background: right 26px center url("/images/icon-error.svg") no-repeat;
      outline: solid 1px #dc6567;
      color: #dc6567;
    }
    input:not(.firstInput) {
      margin-top: 22px;
    }
    .errMessage {
      font-size: 11px;
      font-weight: 500;
      text-align: right;
      margin-bottom: 0;
      margin-top: 8px;
      color: #e78586;
      font-style: italic;
      font-weight: 500;
    }

    button {
      display: inline-block;
      width: 100%;
      height: 55px;
      margin-top: 20px;
      padding: 0;
      background-color: hsl(154, 59%, 51%);
      border-radius: 5px;
      cursor: pointer;
      text-align: center;
      outline: inherit;
      font-family: inherit;
      font-size: 15px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: white;
      border: 1px solid hsl(154, 57%, 46%);
      box-shadow: inset 0 -3px hsl(154, 57%, 46%);
      transition: all 0.1s ease-in-out;

      &:hover {
        background-color: #77e2b4;
        border: 1px solid #86c0a7;
        box-shadow: inset 0 -3px #86c0a7;
      }
    }
    .footnote {
      font-size: 0.65em;
      font-weight: 500;
      text-align: center;
      margin-top: 14px;
      margin-bottom: 0px;
      color: hsl(246, 25%, 77%);
      letter-spacing: 0.04em;
      span {
        color: #e78586;
        font-weight: 700;
        letter-spacing: 0;
      }
    }
  }
}
